@charset "utf-8";

.main{
    background: url("../img/haikei.jpg"); 
    background-size:200%;
    margin-top:-100px;
    background-attachment:fixed;
    
}
.errors{
    width:300px;
    font-size:12px;
    color:#e95353;
    border:1px solid #e95353;
    background-color:#f2dede;
}
.compleate{
    margin-top:50px;
    width:290px;
    font-size:12px;
    color:#2a88bd;
    border:1px solid #2a88bd;
    background-color:#a6e1ec;
}
.main02{
    height:200%;
    background: rgba(0,0,0,0.3);
    padding-left:100px;
    margin-top:100px;
    padding-top:40px;
    color:aliceblue;
}
.subtitle{
/*    text-align:center;*/
    padding-top:50px;
    padding-bottom:80px;
    
}
/*
.table{
    margin-bottom:10px;
}*/
.waku{
    width:150px;
    height:30px;
    border-radius:0.3em;
}
td,th{
    padding:15px;
    vertical-align:top;   
}
textarea{
    padding:8px;
    border-radius:0.3em;
}
font{
    color:aliceblue;
}
.btn{
    margin-left:500px;
    width:100px;
}
.text{
    margin-left:30px;
}
a{
    font-size:15px;
}